.container {
  position: relative;
}
.input,
.error {
  //height: 100%;
  width: 100%;
  border: 1px solid var(--color-black-20);
  outline: none;
  padding: 11px 5px;
  border-radius: 6px;
  box-shadow: inset 20px 20px 20px 20px white;
  &::placeholder {
    color: #929292;
  }
  &:hover {
    box-shadow: inset 20px 20px 20px 20px var(--color-black-desaturated);
  }
}

.requiredStar {
  position: absolute;
  color: var(--color-green-primary);
  top: 40%;
  transform: translateY(-50%);
  right: 5px;
}
.error {
  border: 1px solid red;
}
