.item {
  border: 1px solid;
  display: grid;
  //grid-template-columns: 0.7fr 2fr 0.1fr;
  grid-template-columns: 0.7fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 8px;
  margin-bottom: 8px;
}
.buttons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  justify-content: flex-end;
}
.info {
  & > h2 {
    line-height: 1.2;
    font-size: 24px;
  }
  & > h4 {
    color: var(--color-black-60);
    font-weight: 400;
    font-size: 17px;
    margin-top: 8px;
  }
}
