@import '../../../../../node_modules/@radix-ui/colors/black-alpha.css';
@import '../../../../../node_modules/@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;
}

.RadioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.RadioGroupItem {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px black;
}

.RadioGroupItem:hover {
  background-color: var(--color-green-20);
}

.RadioGroupItem:focus {
  box-shadow: 0 0 0 2px black;
}

.RadioGroupIndicator {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.RadioGroupIndicator::after {
  content: '';

  display: block;

  width: 11px;
  height: 11px;

  background-color: var(--color-green-primary);
  border-radius: 50%;
}

.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  color: #000;
}
