.dashboard {
  background-color: white;
  padding: 30px;
  margin: 0 20px 30px 20px;
  border-radius: 16px;
  @media screen and (max-width: 540px) {
    margin: 0 10px 40px 10px;
    padding: 20px 10px;
  }
}
.title > h2 {
  line-height: 1.2;
  font-size: 24px;
  margin-bottom: 20px;
}
.item {
  display: grid;
  grid-template-columns: 1fr 3fr 0.4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 8px;
  @media screen and (max-width: 930px) {
    grid-template-columns: 1fr;
  }
}
.exportBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-bottom: 20px;
}
.menuSwitchItems {
  margin: 20px 0;
}
.form {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1fr 0.4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 8px;
  @media screen and (max-width: 930px) {
    grid-template-columns: 1fr 1fr;
  }
}

.form_years {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.initialRow {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr;
  gap: 8px;
  align-items: center;
  @media screen and (max-width: 930px) {
    grid-template-columns: 1fr 1fr;
    order: revert;
  }
}
.countriesRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  align-items: center;
  @media screen and (max-width: 930px) {
    grid-template-columns: 1fr 1fr;
    order: revert;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fieldRow {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  @media screen and (max-width: 930px) {
    grid-template-columns: 1fr 1fr;
    order: revert;
  }
}

.buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
.formik_form {
  position: relative;
}
.error_title {
  color: red;
  position: absolute;
  top: -17px;
}
