.button,
.activeBtn {
  background-color: #4f4e76;
  color: white;
  outline: none;
  padding: 4px 12px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5px;
}
.activeBtn {
  background-color: #008054;
}
