.dashboard {
  background-color: white;
  padding: 30px;
  margin: 0 20px 80px 20px;
  border-radius: 16px;
}
.info {
  & > h2 {
    line-height: 1.2;
    font-size: 24px;
  }
  & > h4 {
    color: var(--color-black-60);
    font-weight: 400;
    font-size: 17px;
    margin-top: 8px;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title > h2 {
  line-height: 1.2;
  font-size: 24px;
  //margin-bottom: 20px;
}

.menuSwitchItems {
  margin: 20px 0;
}

.form {
  display: grid;
  grid-template-columns: 0.7fr 2fr 0.1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 8px;
}
