:root {
  //secondary fonts
  --color-lime: #bfd772;
  --color-lime-pastel: #d4ddb7;
  --color-pink: #e9cff9;
  --color-pink-20: #f3a8e2;
  --color-blue: #88bdef;
  --color-orange: #ffd7a3;
  --color-green-label: #344f40;
  --color-green-light-label: #dbeddb;

  //secondary fonts
  --color-purple: #211e57;
  --color-dark: #4f4e76;
  --color-purple-light: #8280c2;
  --color-purple-desaturated: #f1eefa;
  --color-purple-light-label: #ece5f1;

  //basic fonts
  --color-green-primary: #008054;
  --color-green-hover: #006642;
  --color-green-80: #319774;
  --color-green-60: #62ae94;
  --color-green-40: #92c6b4;
  --color-green-20: #c3ddd4;
  --color-green-desaturated: #dce8e4;

  //basic fonts
  --color-black: #333;
  --color-black-60: #767676;
  --color-black-40: #929292;
  --color-black-20: #ccc;
  --color-black-10: #dcdcdc;
  --color-black-5: #e8e8e8;
  --color-black-desaturated: #f2f2f2;
  --color-white: #fff;
}
