:root {
  //secondary fonts
  --collor-lime: #bfd772;
  --collor-lime-pastel: #d4ddb7;
  --collor-pink: #e9cff9;
  --collor-blue: #88bdef;
  --collor-green-label: #344f40;
  --collor-green-light-label: #dbeddb;

  //secondary fonts
  --collor-purple: #211e57;
  --collor-dark: #4f4e76;
  --collor-purple-light: #8280c2;
  --collor-purple-desaturated: #f1eefa;
  --collor-purple-light-label: #ece5f1;

  //basic fonts
  --collor-green-primary: #008054;
  --collor-green-hover: #006642;
  --collor-green-80: #319774;
  --collor-green-60: #62ae94;
  --collor-green-40: #92c6b4;
  --collor-green-desaturated: #edf5f3;

  //basic fonts
  --color-black: #333;
  --color-black-60: #767676;
  --color-black-40: #929292;
  --color-black-20: #ccc;
  --color-black-10: #dcdcdc;
  --color-black-5: #e8e8e8;
  --color-black-desaturated: #f2f2f2;
}
