.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.lineGraph {
  width: 60%;
  min-width: 0;
  height: 400px;
}

@media screen and (width <= 1025px) {
  .wrapper {
    justify-content: center;
  }

  .lineGraph {
    width: 90%;
  }
}

@media screen and (width <= 820px) {
  .wrapper {
    justify-content: center;
  }

  .lineGraph {
    width: 100%;
  }
}
