.primary {
  cursor: pointer;

  padding: 12px;

  color: var(--color-white);
  white-space: nowrap;

  background-color: var(--color-green-primary);
  border: none;
  border-radius: 6px;
  &:hover {
    background-color: var(--color-green-hover);
  }
  &:active {
    background-color: var(--color-green-hover);
  }
}
