.sidebar {
  overflow-y: scroll;
  background-color: white !important;
  border-radius: 0 10px 10px 0;
}

.button {
  background-color: white;
}

.logo_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.button_logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 256px;

  background-color: white;
}
.bottomText {
  max-width: 200px;
  padding: 25px;
  word-break: break-word;
  color: var(--color-black-60);
}
