.toggle {
  margin-top: 17px;
}

.menu_bar {
  //position: fixed;
  //left: 0;
  //

  //height: 700px;

  font-size: 14px;
  border-inline-end: 0 !important;
  border-radius: 0 0 10px;
}

.sub_menu {
  border: 1px solid darkblue;
}
