.sidebar {
  //width: 256px;
  background-color: white !important;

  //border: 1px solid chartreuse;
  border-radius: 0 10px 10px 0;
}

.button {
  background-color: white;
}

.button_logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 256px;

  //margin-top: 42px;
  //margin-bottom: 40px;

  background-color: white;
  border-radius: 0 10px 0 0;
}
