.sidebar {
  background-color: white !important;
  border-radius: 0 10px 10px 0;
}

.button {
  background-color: white;
}

.button_logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 256px;

  background-color: white;
  border-radius: 0 10px 0 0;
}
