.header {
  background-color: white;
  padding: 40px 70px 60px 120px;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  justify-self: center;
}
.menu {
  justify-self: end;
  z-index: 5;
}
.menuImg {
  cursor: pointer;
}
.title {
  font-weight: 700;
  font-size: 24px;
  max-width: 450px;
  line-height: 1.2;
}
@media screen and (max-width: 820px) {
  .header {
    padding: 20px 20px 70px 20px;
  }
  .menu {
    right: 20px;
  }
  .title {
    margin-top: 20px;
    font-size: 18px;
  }
}
