.toggle {
  margin-top: 17px;
}

.menu_bar > li > ul > li {
  height: auto !important;
  padding: 5px 0;

  line-height: 1.2 !important;
  white-space: normal !important;

  border-inline-end: 0 !important;
}

//.menu_bar > li > ul > li {
//  font-weight: 700;
//  color: red !important;
//  border: 1px solid saddlebrown;
//}

.sub_menu {
  border: 1px solid darkblue;
}
