.dashboard {
  background-color: white;
  padding: 30px;
  margin: 0 20px 30px 20px;
  border-radius: 16px;
}
.title > h2 {
  line-height: 1.2;
  font-size: 24px;
  //margin-bottom: 20px;
}
.item {
  display: grid;
  //grid-template-columns: 0.7fr 2fr 0.1fr;
  grid-template-columns: 1fr 3fr 0.4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 8px;
  @media screen and (max-width: 930px) {
    grid-template-columns: 1fr;
  }
}
.exportBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-bottom: 20px;
}
.menuSwitchItems {
  margin: 20px 0;
}
.form {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1fr 0.4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 8px;
  @media screen and (max-width: 930px) {
    grid-template-columns: 1fr 1fr;
  }
}
