.buttons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  justify-content: flex-end;
}
.item {
  display: grid;
  grid-template-columns: 1fr 2fr 0.1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 8px;
  margin-bottom: 8px;
  align-items: center;
}
.formik_form {
  position: relative;
}
.error_title {
  color: red;
  position: absolute;
  top: -17px;
}
