.buttons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  justify-content: flex-end;
}
.item {
  border: 1px solid darkorchid;
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 8px;
  margin-bottom: 8px;
}
