.header {
  background-color: white;
  padding: 40px 70px 60px 120px;
}

.container {
  display: flex;
  justify-content: center;
}
.menu {
  position: absolute;
  z-index: 5;
  top: 35px;
  right: 70px;
}
.title {
  font-weight: 700;
  font-size: 24px;
  max-width: 450px;
  line-height: 1.2;
}
@media screen and (max-width: 820px) {
  .header {
    padding: 20px 20px 70px 20px;
  }
  .menu {
    right: 20px;
  }
  .title {
    margin-top: 20px;
    font-size: 18px;
  }
}
