.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: auto;
  padding: 30px 20px;

  background-color: var(--color-green-desaturated);
  border-radius: 16px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: var(--color-green-primary);
  border-radius: 50%;
}

.title {
  margin: 20px 0 8px;

  & > h3 {
    font-size: var(--line-height-m);
  }
}

.subtitle {
  & > p {
    color: var(--color-black-40);
  }
}

.link {
  margin-top: 20px;
  font-weight: var(--font-weight-bold);

  & > a {
    color: var(--color-green-primary);
    text-decoration: underline;
  }
}
